body {
	font-size: 120%;
	background-image: url("../afbeeldingen/DNA.jpg");
	background-repeat: no-repeat;
	background-size: 1560px 750px;
	background-position: center;
	background-attachment: fixed;
	}
	
	h1	{
		color: white;
		text-align: center;
		border-style: double;
		background-image: url("../afbeeldingen/better2.jpg");
		border-radius: 10%;
		}	

	p {
		width: 820px;
	}
	
	#img {
		float: 	right;	
		width: 	270px;
		height: 350px;
		border-style: double;
		border-color: white; 
		padding: 10px;
		border-radius: 10%;
	}

	#img2 {
		width: 200px;
		height: 150px;
		border-style: double;
	}
